In [10]:
import pandas as pd
from fredapi import Fred
fred = Fred(api_key='c9bf6c761c1df3965ce56d77ef6c8f77')
df = {}

In [12]:
df['CPI'] = fred.get_series("CPIAUCSL")

In [15]:
df['IR'] = fred.get_series('T10YIE')

In [17]:
df['UNRATE'] = fred.get_series('UNRATE')

In [19]:
df['GDP'] = fred.get_series('GDP')

In [21]:
df = pd.DataFrame(df)

In [43]:
df['SP500'] = fred.get_series('SP500')

In [39]:
df['OP'] = fred.get_series('DCOILWTICO')

In [37]:
df['AE'] = fred.get_series('CES0500000003')

In [38]:
df['EPI'] = fred.get_series('IQ')

In [41]:
df['IRDR'] = fred.get_series('INTDSRUSM193N')

In [42]:
df

              CPI    IR  UNRATE      GDP    SP500  AE  EPI      OP  IRDR
1946-01-01    NaN   NaN     NaN      NaN      NaN NaN  NaN     NaN   NaN
1946-04-01    NaN   NaN     NaN      NaN      NaN NaN  NaN     NaN   NaN
1946-07-01    NaN   NaN     NaN      NaN      NaN NaN  NaN     NaN   NaN
1946-10-01    NaN   NaN     NaN      NaN      NaN NaN  NaN     NaN   NaN
1947-01-01  21.48   NaN     NaN  243.164      NaN NaN  NaN     NaN   NaN
...           ...   ...     ...      ...      ...  ..  ...     ...   ...
2022-03-10    NaN  2.86     NaN      NaN  4259.52 NaN  NaN  105.93   NaN
2022-03-11    NaN  2.94     NaN      NaN  4204.31 NaN  NaN  109.31   NaN
2022-03-14    NaN  2.93     NaN      NaN  4173.11 NaN  NaN  103.22   NaN
2022-03-15    NaN  2.84     NaN      NaN  4262.45 NaN  NaN     NaN   NaN
2022-03-16    NaN  2.80     NaN      NaN  4357.86 NaN  NaN     NaN   NaN

[5753 rows x 9 columns]